
.calArray{
    width : 100px;
    height: 100px;
    display: inline-block;
    text-align: left;
    
}

.calStyle{
    position : relative;
    top: 80px;
    left: 500px;
    width : 700px;
    height : 700px;
}

.friendsBt{
    position: relative;
    left: 100px;
    width : 100px;
    height: 100px;
    border-radius: 50%;
    border-color: rgb(0, 140, 255);
    background: url("/public/user.png") no-repeat;
    background-size: contain;
}

.mTitle{
    text-align: center;
    font-family: 'Bradley Hand ITC',serif;
    font-size: 80px;
}
.textCenter{
    text-align: center;
    font-family: 'Bradley Hand ITC',serif;
}

.confirmBT{
  position: relative;
  left: 1200px;
  top: 200px;
  height: 50px;
  width: 100px;
  background-color: black;
  color: white;
  font-family: 'Bradley Hand ITC',serif;
}

.googleBt{
  position: relative;
  top: 270px;
  left: 780px;
  height: 50px;
  width: 50px;
  background: url("/public/google.png") no-repeat;
  background-size: contain;
  border: 0;
}
.githubBt{
  position: relative;
  top: 270px;
  left: 810px;
  height: 50px;
  width: 50px;
  background: url("/public/github.png") no-repeat;
  background-size: contain;
  border: 0;
}

/* CSS */
.button-55 {
    font-family: 'Bradley Hand ITC',serif;
    position: relative;
    top: 700px;
    left: 645px;
    align-items: center;
    background-color:white;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display:inline-block;
    font-size: 18px;
    width: 200px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-55:hover:after {
  transform: translate(0, 0);
}

.button-55:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-55:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-55 {
    padding: 0 40px;
  }
}

  .form__input {
    top: 300px;
    position: relative;
    font-family: 'Bradley Hand ITC', sans-serif;
    color: white;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 8px;
    background-color: black;
    border: none;
    width: 30%;
    display: flex;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    justify-content:space-between;
  }
  