
.calArray{
    width : 100px;
    height: 100px;
    display: inline-block;
    text-align: left;
    
}

.calStyle{
    position : relative;
    top: 80px;
    left: 500px;
    width : 700px;
    height : 700px;
}

.friendsBt{
    position: relative;
    left: 380px;
    width : 80px;
    height: 80px;
    border-radius: 50%;
    border-color: rgb(236, 167, 39);
    background: url("/public/user.png") no-repeat;
    background-size: contain;
    margin-right: 3%;
    margin-bottom: 3%;
}

.mTitle{  
    text-align: center;
    font-family: 'Dongle',serif;
    font-size: 100px;
    color: white;
}
.textCenter{
    text-align: center;
    font-family: 'Bradley Hand ITC',serif;
}

.confirmBT{
  margin-left: 1100px;
  height: 50px;
  width: 100px;
  background-color: black;
  color: grey;
  font-family: 'Dongle',serif;
  border-radius: 10%;
}

.googleBt{
  margin-top: 100px;
  margin-left: 750px;
  height: 50px;
  width: 50px;
  background: url("/public/google.png") no-repeat;
  background-size: contain;
  border: 0;
}
.githubBt{
  margin-top: 100px;
  margin-left: 100px;
  height: 50px;
  width: 50px;
  background: url("/public/github.png") no-repeat;
  background-size: contain;
  border: 0;
}

/* CSS */
.button-55 {
    font-family: 'Dongle',serif;
    position: relative;
    top: 150px;
    left: 43%;
    align-items: center;
    background-color:white;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: block;
    font-size: 18px;
    width: 250px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 30px;
}

.button-55:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-55:hover:after {
  transform: translate(0, 0);
}

.button-55:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-55:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-55 {
    padding: 0 40px;
  }
}

  .form__input {
    top: 130px;
    position: relative;
    font-family: 'Dongle', sans-serif;
    color: white;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 8px;
    background-color: black;
    border: none;
    width: 20%;
    display: flex;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    justify-content:space-between;
    margin-top: 30px;
  }
  
  .calBorder{
    height: 600px;
    width : 1300px;  
  }
  .calDes{
    position: relative;
    border-radius: 1%;
    left : 200px;
    background-color: white;
  }

  .noFriendText{
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: 'Dongle',serif;
    margin-top: 100px;
  }

  .pageChangeBt{
    margin-left: 1250px;
    margin-bottom: 20px;
  }

  .restBt{
    margin-left: 40px;
    margin-bottom: 20px;
  }